.type-wrap {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.type-con {
    display: flex;
    flex-wrap: nowrap;
    width: 31%;
    height: 100px;
    gap: 3%;
}

.type-wrap .type-con {
    min-width: 500px;
}

.type-img {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-img img {
    width: 50px;
    height: 50px;
}

.type-img h3 {
    margin-top: 5px;
    font-size: 16px;
}

.type {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    gap: 20px;
    padding: 0 10px;
}

.type-strong {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.type-strong > div:nth-child(1) {
    margin-bottom: 10px;
    font-size: 28px;
}

.type-strong img {
    width: 40px;
    height: 40px;
}

.damage-wrap {
    margin-top: 20px;
}

.damage-card-wrap {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 0;
}

.damage-card {
    margin-bottom: 20px;
}

.damage-card label {
    margin-right: 10px;
}

.damage-card input {
    margin-right: 10px;
}

.damage-card-wrap .moveBtn {
    cursor: pointer;
    line-height: 30px;
    margin-bottom: 20px;
}

/* 공격 타입 선택 + 자속기 체크박스 정렬 */
.type-selector {
    display: flex;
    align-items: center;
    gap: 10px; /* 간격 조정 */
  }
  
  /* 자속기 체크박스 스타일 */
  .stab-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }

/* 모달 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 450px;
    position: relative;
}

.modal-content .type {
    justify-content: center;
}

.modal-content .type .type-strong {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-content h3 {
    margin-bottom: 20px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 1775px) {
    .type-con {
        width: 49%;
    }
}

@media (max-width: 1200px) {
    .type-wrap .type {
        display: none; /* 기본적으로 숨김 */
    }

    .type-wrap {
        gap: 0;
    }

    .type-wrap .type-img {
        cursor: pointer;
    }

    .type-wrap .type-con {
        width: 31.9332782328%;
        min-width: 0;
        margin-right: 2.10008265084%;
        margin-bottom: 20px;
        justify-content: center;
    }

    .type-wrap .type-con:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .damage-card > input {
        width: 120px;
    }

    .damage-card > select {
        width: 120px;
    }
}

@media (max-width: 450px) {
    .modal-content {
        width: 340px;
    }

    .modal-content .type {
        gap: 7px;
    }

    .modal-content .type .type-strong {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-content .type .type-strong img {
        width: 30px;
        height: 30px;
    }

    .damage-card {
        font-size: 13px;
    }

    .damage-card > input {
        width: 100px;
    }

    .damage-card > select {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .damage-card {
        font-size: 11px;
    }

    .damage-card label {
        margin-right: 5px;
    }

    .damage-card > input {
        width: 95px;
        margin-right: 5px;
    }

    .damage-card > select {
        width: 90px;
    }
}

@media (max-width: 350px) {
    .damage-card > input {
        width: 70px;
    }

    .damage-card > select {
        width: 88px;
    }
}