.wrap {
    padding: 20px 5%;
    width: 100%;
}

.title {
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn-wrap .moveBtn {
    height: 40px;
    padding: 0 10px;
}

.mode-wrap {
    display: flex;
    gap: 20px;
}

.mode {
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.moveBtn {
    padding: 10px 20px;
    background-color: #FFD700;
    border-radius: 4px;
    color: black;
    text-align: center;
    line-height: 40px;
    display: block;
    border: 0;
}

.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card > p {
    margin: 0 auto;
}

.pagenation {
    text-align: center;
    margin-top: 20px;
}

.leftBtn, .rightBtn, .pageBtn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 5px 10px;
}

.pageBtn {
    margin: 0 5px;
}

.bookmark-wrap {
    justify-content: flex-end;
    margin-bottom: 20px;
}

.bookmark-wrap .moveBtn {
    height: 40px;
    padding: 0 10px;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .leftBtn, .rightBtn, .pageBtn {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .btn-wrap {
        flex-direction: column;
        align-items: center;
    }

    .mode-wrap {
        width: 100%;
    }

    .moveBtn {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 450px) {
    .mode {
        font-size: 13px;
    }

    .mode-wrap {
        gap: 5px;
    }

    .leftBtn, .rightBtn, .pageBtn {
        font-size: 11px;
        padding: 4px;
    }
}

@media (max-width: 420px) {
    .leftBtn, .rightBtn, .pageBtn {
        padding: 3px;
    }
}

@media (max-width: 400px) {
    .mode {
        font-size: 11px;
    }

    .leftBtn, .rightBtn, .pageBtn {
        font-size: 9px;
        padding: 2px;
    }
}